*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: deepskyblue;
	margin: 0;
}

.signup-form{
	background-color: white;
	width: 400px;
	padding: 40px;
	margin: 40px auto;
}

input{
	display: block;
	margin:15px 20px 15px 20px;
	width:320px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	padding: 15px;
}

label{
	margin:15px 20px 15px 20px;
	display: block;

}

button{
	margin:15px 20px 15px 20px;
	height:55px;
	width:320px;
	display: block;
	border: 2px solid lightgreen;
	padding: 15px;
	background-color: lightgreen;
	border-radius: 5px;
	color:white;
	font-weight:bold;
	font-size: 16px;	
}

button:hover{
	background-color: green;
	border-color: green;
}

img{
	height: 35px;
	margin: 40px auto;
	display: block;
}

h1{
	text-align: center;
	color: grey;
}

div{
	text-align: center;
}

.login, .login a{
	color: white;
	font-weight: bold;
}



.forgot-password a{
	color: grey;
}